.about-content-wrap {
    /* background-color: #F1F4F6; */
    min-height: 562px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-image: url('../images/bg-lg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}