.project-content-wrap {
    min-height: 562px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #f1f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.font-title-project {
    font-family: 'Poppins-Bold';
    font-size: 1.2rem;
    color: #3b444a;
}

.container-project {
    position: relative;
    height: 363px;
    width: 100%;
    overflow: hidden;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

.project-image {
    position: absolute;
    left: 0;
    width: 580px;
    height: 363px;
    background-color: #F7F8FA;
}

.project-image-desc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.project-content {
    position: absolute;
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
    right: 0;
    width: 495px;
    height: 303px;
}

.project-content-desc {
    display: flex;
    justify-content: end;
    align-items: flex-end;
    flex-direction: column;
}

.project-tech {
    float: left;
    text-align: right;
    width: 100%;
    font-family: 'Poppins-Regular';
    font-size: 0.8rem
}

.font-featured-project {
    font-family: 'Poppins-Semi-Bold'
}

.font-featured-project-name {
    font-family: 'Poppins-Semi-Bold'
}

.project-information {
    background-color: #DDE2E5;
}

.font-information {
    font-family: 'Poppins-Regular';
    font-size: 0.8rem;
    text-align: right
}