.work-content-wrap {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-image: url('../images/bg-lg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}